<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467074486071-3t408pp7v3a66rh8jdsmqr746psvs155.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467074486071-3t408pp7v3a66rh8jdsmqr746psvs155</string>
	<key>API_KEY</key>
	<string>AIzaSyDesS-j5O6Nk98fdDgM_o3DpBm8U02MHrI</string>
	<key>GCM_SENDER_ID</key>
	<string>467074486071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ecs-193.virtual-graffiti</string>
	<key>PROJECT_ID</key>
	<string>ar-virtual-graffiti</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-virtual-graffiti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467074486071:ios:bca9ce2d89edefdeaad4b2</string>
	<key>DATABASE_URL</key>
	<string>https://ar-virtual-graffiti.firebaseio.com</string>
</dict>
</plist>